extends includes/layout.pug

append variables
	- let pageTitle = "Главная";
	- description += pageTitle;
block content
	section.main-screen
		.container 
			.main-screen__content
				.main-screen__image 
					picture
						source(srcset=`images/main-screen/bg.jpg` media="(min-width: 576px)")
						source(srcset=`images/main-screen/bg-mob.jpg` media="(min-width: 320px)")
						img(src="images/main-screen/bg.jpg", alt="Верхний баннер")
				.main-screen__info
					h2.main-screen__title Хорошие фотографии живут&nbsp;в&nbsp;Санкт&nbsp;-&nbsp;Петербурге.
					p.main-screen__subtitle Просто добавьте свет!
				a(href="/").main-screen__btn.btn Узнать больше
	div.offers
		.container 
			.offers__wrapper 
				.offers__body
					each item, i in tender
						a(href="#").offers__item.item-offer(class=`offers__item_${item.key}` style=`background-image: url('images/offers/${item.img}.png')`)
							.item-offer__header= item.title
							.item-offer__text= item.text
				.offers__pagination.slider-pagination
	div.partions
		.container
			.partions__body
				- let count = 0;
					while count < 24
						a(href="#").partions__item.item-partion
							.item-partion__image 
								img(src="images/partions/img.png", alt="заголовок разделы")
							.item-partion__body
								.item-partion__title= count == 1 ? 'Заголовок раздела' : 'Заголовок раздела в две строки'
								- count += 1;
			.partions__footer
				button(type="button").partions__btn.btn-show Смотреть все разделы
	section.sales 
		.container 
			.sales__heading.heading
				h2.heading__title В распродаже 345 товаров
			.products-slider(data-slider="sales")
				.products-wrapper
					.products-body
						each item, index in products
							include components/product
					.products-slider__controls.slider-controls
						button(type="button").slider-button.slider-button-prev
						button(type="button").slider-button.slider-button-next
				.products-slider__pagination.slider-pagination
			.products-body-tile 
				.products-body-tile__cards
					each item, index in products
						include components/product
				.products-body-tile__footer
					button(type="button").sales__btn.btn-show Смотреть ещё
	.banner
		.container
			a(href="#").banner__wrapper
				.banner__info
					.banner__label Спецпредложение
					.banner__text Объективы со&nbsp;скидкой&nbsp;в августе
				.banner__images 
					.banner__image.banner__image_left
						picture
							source(srcset=`images/banner/img-left.png` media="(min-width: 1200px)")
							source(srcset=`images/banner/banner-img-top.png` media="(min-width: 320px)")
							img(src="images/banner/img-left.png", alt="Баннер с предложением")
					.banner__image.banner__image_right
						picture
							source(srcset=`images/banner/img-right.png` media="(min-width: 1200px)")
							source(srcset=`images/banner/banner-img-bottom.png` media="(min-width: 320px)")
							img(src="images/banner/img-right.png", alt="Баннер с предложением")
	section.advantages 
		.container 
			.advantages__heading.heading
				h2.heading__title Наши преимущества
			.advantages__description 
				p Магазин Фотогора предлагает широкий ассортимент любительской и профессиональной техники от ведущих мировых брендов для оборудования студии. Преимуществом нашего магазина является разумная ценовая политика и отличный сервис.
				p В магазине Фотогора специалисты помогут выбрать и приобрести студийный свет, купить полностью совместимые аксессуары и дадут квалифицированную техническую консультацию, ответят на сопутствующие вопросы. С их помощью у вас есть возможность оборудовать профессиональную фотостудию, исходя из имеющегося бюджета, ведь успешность покупки зависит не только от большого количества денег, но и от того, как умело они тратятся.
			.advantages__wrapper.swiper
				.advantages__body.swiper-wrapper
					each item, index in advantages
						.advantages__item.item-advantages.swiper-slide
							.item-advantages__icon
								img(src=`images/advantages/${item.img}.svg`, alt=item.title)
							.item-advantages__content
								.item-advantages__text= item.title
				.advantages__controls.slider-controls
					button(type="button").slider-button.slider-button-prev
					button(type="button").slider-button.slider-button-next
				.advantages__pagination.slider-pagination
	section.partners
		.container 
			.partners__heading.heading
				h2.heading__title Наши партнеры
			.partners__wrapper.swiper
				.partners__body.swiper-wrapper
					each item, index in partners
						.partners__item.item-partner.swiper-slide
							.item-partner__image 
								picture
									source(srcset=`images/partners/${item.name}.png` media="(min-width: 767.98px)")
									source(srcset=`images/partners/${item.name}-mobile.png` media="(min-width: 320px)")
									img(src=`images/partners/${item.name}-mobile.png`, alt=item.name)
				.partners__controls.slider-controls
					button(type="button").slider-button.slider-button-prev
					button(type="button").slider-button.slider-button-next
			.partners__pagination.slider-pagination
	div.video-block
		.container
			.video-block__slider(data-slider="video")
				.video-block__wrapper.swiper
					.video-block__body.swiper-wrapper
						each item, index in videoBlock
							.video-block__item.item-video.swiper-slide(data-slide)
								.item-video__image
									a(href=`files/fotogora.mp4` data-fslightbox="gallery")
										video(class="video-player" poster=`images/video-block/${item.img}.png`)
											source(src="files/fotogora.mp4" type="video/mp4")
								button(type="button").item-video__play.play-button
								.item-video__content 
									.item-video__description= item.text
									.item-video__info.info-video
										.info-video__item.info-video__message= item.message
										.info-video__item.info-video__views= item.views
					.video-block__controls.slider-controls
						button(type="button").slider-button.slider-button-prev
						button(type="button").slider-button.slider-button-next
				.video-block__pagination.slider-pagination
	div.banner-telegram
		.container 
			.banner-telegram__body
				.banner-telegram__image
					picture
						source(srcset=`images/banner/banner-tg.png` media="(min-width: 767.98px)")
						source(srcset=`images/banner/banner-tg-mob.png` media="(min-width: 320px)")
						img(src="images/banner/banner-tg.png", alt="Баннер подписка на телеграм")
				.banner-telegram__text Подпишись на наш канал в Телеграм
				a(href="/").banner-telegram__button.btn Узнать больше