extends includes/layout.pug

append variables
	- let pageTitle = "Главная";
	- description += pageTitle;
block content
	include ./components/main-screen
	div.offers
		.container 
			.offers__wrapper 
				.offers__body
					each item, i in tender
						a(href="#").offers__item.item-offer(class=`offers__item_${item.key}` style=`background-image: url('images/offers/${item.img}.png')`)
							.item-offer__header= item.title
							.item-offer__text= item.text
				.offers__pagination.slider-pagination
	div.partions
		.container
			.partions__body
				- let count = 0;
					while count < 24
						a(href="#").partions__item.item-partion
							.item-partion__image 
								img(src="images/partions/img.png", alt="заголовок разделы")
							.item-partion__body
								.item-partion__title= count == 1 ? 'Заголовок раздела' : 'Заголовок раздела в две строки'
								- count += 1;
			.partions__footer
				button(type="button").partions__btn.btn-show Смотреть все разделы
	section.sales 
		.container 
			.sales__heading.heading
				h2.heading__title В распродаже 345 товаров
			.products-slider(data-slider="sales")
				.products-wrapper
					.products-body
						each item, index in products
							include components/product
					.products-slider__controls.slider-controls
						button(type="button").slider-button.slider-button-prev
						button(type="button").slider-button.slider-button-next
				.products-slider__pagination.slider-pagination
			.products-body-tile 
				.products-body-tile__cards
					each item, index in products
						include components/product
				.products-body-tile__footer
					button(type="button").sales__btn.btn-show Смотреть ещё
	.banner
		.container
			a(href="#").banner__wrapper
				.banner__info
					.banner__label Спецпредложение
					.banner__text Объективы со&nbsp;скидкой&nbsp;в августе
				.banner__images 
					.banner__image.banner__image_left
						picture
							source(srcset=`images/banner/img-left.png` media="(min-width: 1200px)")
							source(srcset=`images/banner/banner-img-top.png` media="(min-width: 320px)")
							img(src="images/banner/img-left.png", alt="Баннер с предложением")
					.banner__image.banner__image_right
						picture
							source(srcset=`images/banner/img-right.png` media="(min-width: 1200px)")
							source(srcset=`images/banner/banner-img-bottom.png` media="(min-width: 320px)")
							img(src="images/banner/img-right.png", alt="Баннер с предложением")
	section.advantages 
		.container 
			.advantages__heading.heading
				h2.heading__title Наши преимущества
			.advantages__description 
				p Магазин Фотогора предлагает широкий ассортимент любительской и профессиональной техники от ведущих мировых брендов для оборудования студии. Преимуществом нашего магазина является разумная ценовая политика и отличный сервис.
				p В магазине Фотогора специалисты помогут выбрать и приобрести студийный свет, купить полностью совместимые аксессуары и дадут квалифицированную техническую консультацию, ответят на сопутствующие вопросы. С их помощью у вас есть возможность оборудовать профессиональную фотостудию, исходя из имеющегося бюджета, ведь успешность покупки зависит не только от большого количества денег, но и от того, как умело они тратятся.
			.advantages__wrapper.swiper
				.advantages__body.swiper-wrapper
					each item, index in advantages
						.advantages__item.item-advantages.swiper-slide
							.item-advantages__icon
								img(src=`images/advantages/${item.img}.svg`, alt=item.title)
							.item-advantages__content
								.item-advantages__text= item.title
				.advantages__controls.slider-controls
					button(type="button").slider-button.slider-button-prev
					button(type="button").slider-button.slider-button-next
				.advantages__pagination.slider-pagination
	include ./components/partners
	include ./components/video-block
	include ./components/banner-telegram